{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block body %}
<style>
  #offcanvasTop {
--bs-offcanvas-height: 100vh;
background-color: #c5e1d4;
}
#logo{
  margin-left: -2rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.my-class{
  margin-top: 2rem;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
}

.about-section {
  padding: 80px 0;
  background-image: url('https://via.placeholder.com/1500x800.png'); /* Background image for about section */
  background-size: cover;
  color: #fff;
}
.about-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #fff;
}
.about-section p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
background: whitesmoke;

/* Flex to list articles vertically */
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Open Sans', sans-serif;
}
h1 {
color: #143d59;
margin-bottom: 1rem;
text-align: center;
}

.faq-item {
width: 30vw;
min-width: 350px;
margin-top: 1rem;
}
.item-question {
background: #143d59;
color: whitesmoke;
font-size: 1rem;
padding: 0.5rem;
padding-left: 2rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.question-text {
display: inline-block;
}
.arrows-container {
margin: 0.4rem;
}
.item-answer {
display: none;
color: whitesmoke;
padding: 2rem;
}
.close {
display: none;
}

.show-answer .item-answer {
display: block;
background: #4b5f6d;
}
.show-answer .close {
display: inline;
}
.show-answer .expand {
display: none;
}

#faq-container{
/* border: 2px solid black; */
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5rem;
margin-right: 5rem;
}

</style>
<!-- Breadcrumb Block -->
<section class="mt-5">
<div class="bg-light py-5">
<div class="container my-class">
<div class="d-flex justify-content-between">
<h1 class="fw-bold">Contact us</h1>
</div>
</div>
</div>
</section>

<main>
<div class="container py-5">
<div class="row g-5">
<!-- Contact Information Block -->
<div class="col-xl-6">
<div class="row row-cols-md-2 g-4">
  <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
    <div class="aos-item__inner">
      <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
        <div class="d-flex justify-content-start">
          <i class="fa-solid fa-envelope h3 pe-2"></i>
          <span class="h8">Email-Id:</span>
        </div>
        <span>example@domain.com</span>
      </div>
    </div>
  </div>
  <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
    <div class="aos-item__inner">
      <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
        <div class="d-flex justify-content-start">
          <i class="fa-solid fa-phone h3 pe-2"></i>
          <span class="h8">Phone</span>
        </div>
        <span>+0123456789, +9876543210</span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container query-section">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="text-center">Have a query? Ask us!</h2>
      <form class="query-form">
        <div class="form-group">
          <input type="text" class="form-control query-myclass" id="query" placeholder="Add your query here">
        </div>
        <button type="submit" class="btn btn-custom btn-block">Submit</button>
      </form>
    </div>
  </div>
</div> -->


<div id="faq-container">
  <h1 style="font-size: 2rem;">Frequently asked questions</h1>
  <div id="FAQs-container"></div>
</div>

</div>

<!-- Contact Form Block -->
<div class="col-xl-6">
<h2 class="pb-4">Leave a message</h2>
<form action='/contact' method='POST'>
  {% csrf_token %}
  <div class="row g-4">
    <div class="col-6 mb-3">
      <label for="first_name" class="form-label">First Name</label>
      <input type="text" class="form-control" id="first_name" name='first_name' placeholder="John">
    </div>
    <div class="col-6 mb-3">
      <label for="last_name" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="last_name" name='last_name' placeholder="Doe">
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="+1234567890">
  </div>
  
  <div class="mb-3">
    <label for="Address" class="form-label">Address</label>
    <textarea class="form-control" id="address" name='address' rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea class="form-control" id="message" name='message' rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-custom btn-block">Submit</button>
</form>
</div>
</div>
</div>
</main>

<script>
const faqData = [
{
question: "How does the process work?",
answer: "You simply upload a picture of the accumulated plastic waste in your area through our website. Our system will assess the quantity and assign a local vendor to pick it up from your address."
},
{
question: "What types of plastic waste are accepted?",
answer: "We accept various types of plastic waste, including bottles, bags, containers, and packaging materials. However, hazardous or contaminated materials may not be accepted."
},
{
question: "How do I know if a local vendor is available in my area?",
answer: "Once the local vendor picks up the plastic waste from your address, you will receive rewards such as coupons, vouchers, or cash prizes through your account on our website."},
{   
question: "What happens to the plastic waste after it's picked up?",
answer: "The collected plastic waste is responsibly recycled or processed by our partner facilities to minimize environmental impact."
},
];

const faqsContainer = document.getElementById('FAQs-container');

faqData.map((item) => {

let faqItem = document.createElement('article');
faqItem.classList.add('faq-item');

let markup = `
  <div class="item-question">
      <span class="question-text">${item.question}</span>
      <span class="arrows-container">
          <span class="expand">▼</span>
          <span class="close">▲</span>
      </span>
  </div>
  <div class="item-answer">
      <span>${item.answer}</span>
  </div>
`;

faqItem.innerHTML = markup;
faqsContainer.append(faqItem);
});

const toggleButtons = document.querySelectorAll('.arrows-container');

toggleButtons.forEach(button =>{
button.addEventListener('click', function(e) {
const faqItem = e.currentTarget.parentElement.parentElement;
faqItem.classList.toggle("show-answer");
});
});
</script>
{% endblock body %}